.App {
  text-align: center;
}

body {
  font-family: 'Josefin Sans';
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media print {
  @page {
    size: 50cm 80cm;
    margin: 0;
  }
  .App-header {
    color: black;
  }
  body {
    background-color: white;
  }
}